body,html{
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
      background: #739df8 !important;
}

input[type="text"], textarea {
      background-color : #353b48 !important;
}
  
.searchbar{
      margin-bottom: auto;
      margin-top: auto;
      height: 60px;
      background-color: #353b48;
      border-radius: 30px;
      padding: 10px;
}
  
.search_input{
      color: white;
      border: 0;
      outline: 0;
      background: none;
      width: 0px;
      caret-color:transparent;
      line-height: 40px;
      transition: width 10000s linear;
}
  
.searchbar:hover > .search_input{
      padding: 0 10px;
      width: 350px;
      caret-color:red;
      transition: 0.5s;

}

.search_input:hover > .searchbar{
      padding: 0 10px;
      width: 350px;
}
  
.searchbar:hover > .search_icon{
      background: #353b48;
      color: #e74c3c;
}
  
.search_icon{
      height: 40px;
      width: 40px;
      float: right;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      color:white;
      text-decoration:none;
}

.refresh_icon {
      height: 40px;
      width: 40px;
      margin-left: 10px;
      float: right;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      color:white;
      text-decoration:none;
}

.insertInfo {
      font-size: 20px;
      font-family: Comic Sans MS, Comic Sans, cursive;
      font-weight: 500;
      color: azure;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

    
      